:root{
    --profile_theme : rgb(255, 255, 255);
}
body{
    background: url(image.png);
    background-size: cover;
    backdrop-filter: blur(10px) brightness(40%)    ;
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: sans-serif;

}
.side_bar{
    width: 20%;
    padding: 20px;
    padding-bottom: 40px; 
    position: relative !important;
}
.side_bar .inner{
    background-color: #393e46e7;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
}
.inner h3{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
}
.lang {
    position: absolute;
    background-color: rgb(66, 66, 66);
    display: flex;
    top: 30px;
    right: 30px;
    border-radius: 10px;
}
.deactive{
    padding: 0 10px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    z-index: 999;
    
}
.active{
    border-radius: 10px;
    padding: 0 10px;
    transition: 0.5s;
    position: relative;
    z-index: 999;
}
.pointer{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #26A269;
    border-radius: 10px;
    transition: 0.5s;
    color: transparent;
}
.rigth_act{
    right: 0 ;
}
.left_act{
    right: 50% ;
}
.lang{
    color: white !important;
}
@keyframes pointer { 
   
}

.deactive:hover  ~ .pointer{
    animation: pointer 0.3s ;
}

.deactive:hover ~ .en{
    color: white;
    
}
.deactive:hover {
    padding: 0 10px;
    color: white;
}
.en {
    color: white;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.profile  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(profile.jpg);
    background-size: 120%;
    background-position: 0 -20px ;
}
h1{
    text-align: center;
}
.rigth{
    text-align: right !important;
}
.describe{
    text-align: left ;
    width: 100%;
    font-size: 11px;
    color: white;
}
.describe .box{
    padding: 0 10px;
}
.italic{
   font-style: italic;
}
greenline{
    position: relative;
}
greenline::before{
    content: "";
    background-color: rgb(0, 184, 0);
    box-shadow: 0 0 10px 1px rgb(0, 184, 0);
    height: 3px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    bottom: -5px;
}
greenline::after{
    content: "";
    background-color: rgb(0, 184, 0);
    box-shadow: 0 0 10px 1px rgb(0, 184, 0);
    height: 3px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -5px;
}
.text_center{
    text-align: center;
}
.social_box{
    display: flex;
    padding: 5px 5px;
    border-radius: 20px;
}
.social_box .text {
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    width: 90%;
    height: 30px;
    font-weight: 500;
    padding-left: 5px;
}

.github {
    background-color: white;
}
.telegram {
    background-color: #ffffff;
}
.bale{
    background-color: white;

}
.bale img {
    margin-top: 3px;
}
.email {
    background-color: white;
}
.social_box{
    position: relative;
}
/*
.social_box::after{
    content: "Click Me!";
    position: absolute;
    padding: 5px 10px ;
    right: 10px;
    border-radius: 20px;
    top: 7.5px;
    opacity: 0;
    font-size: 15px;
    background-color: green;
    transition: 0.5s;
}
.social_box:hover ~ .social_box::after{
    opacity: 100;
}
*/
.content{
    width: 80%;
    height: calc(100vh - 40px);
    padding: 20px;
}
.c_inner{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #393e46e7;    
    position: relative;
}
.head {
    direction: ltr;
    position: absolute;
    width: calc(100% - 10px);
    
    border-radius: 20px ;
    background-color: white;   
    display: flex;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.code{
    width: 30%;
    top: 0;
    height: 72.5%;
    border-radius: 20px 0 0 20px;
    padding: 10px 15px;
    display: flex;

}
.code .icon {
    height: 100%;
    display: flex;
    align-items: center;
}
.code .name{
    width: 80%;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    font-size: 20px;
}
.terminal{
    position: absolute;
    top: 8%;
    height: 92%;
    overflow-y: scroll;
    width: 100%;
    direction: ltr;
}
.terminal_inner{
    position: relative;
    padding : 10px 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: white;
}
.terminal_inner a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
pre {
    font-weight: bold;
    color: #26A269;
}
.spacer{
    width: 100%;
    height: 20px;

}
@media screen and (min-width : 800px)  and (max-width : 1500px) {
    .spacer {
        height: 0px !important;
    }
    .other_skill{
        font-size : 12px !important;
    }
    .side_bar {
        width : 30%;
    }
    greenline{
        font-size: 17px !important;
    }
    .code .name{
        padding-left: 30px;
    }
}
@media screen and (min-width : 800px)  and (max-width : 1000px) {
    .spacer {
        height: 0px !important;
    }
    .other_skill{
        font-size : 12px !important;
    }
    .side_bar {
        width : 40%;
    }
    greenline{
        font-size: 17px !important;
    }
    .code .name{
        padding-left: 30px;
    }
}
@media screen and (max-width : 900px) {
    .side_bar {
        position: absolute !important;
        width: 80%;
        z-index: 999;
        right: 5%;
        display: none;
        top: 12.5%;
    }
    .content {
        width: 100%;
    }
    .code .name{
        padding-left: 30px;
    }
    body{
        overflow-y: none;
        overflow-x: none;
    }
    #show{
        padding: 20px 10px;
        background-color: #26A269 ;
        border-radius: 20px;
        color: white;
        right : 10px !important;
        top: 10%;
        margin-left: auto;  
        border: none;
        display: block !important;
    }
    #hide{
        content: "About Me";
        padding: 20px 30px;
        background-color: #26A269 ;
        border-radius: 20px;
        color: white;
        position: absolute;
        left : 10px !important;
        top: 30px;
        border: none;
        display: block !important;
    }
    .cover{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        filter: brightness(0.2);
        background-color: rgba(0, 0, 0, 0.842);
        display: none;

    }
    .contact_box{
        position: inherit  !important;
        width: 95% !important;
    }
    
}
@media screen and (max-width : 500px) {
    .side_bar{
        top: 0;
        width: 85%;
        right: -0 !important;
    }
    .github .text {
        font-size: 12px;
    }
    .spacer {
        display: none;
    }
    body{
        overflow-y: none;
    }
    .contact_box{
        position: inherit  !important;
        width: 100% !important;
    }
}
.btn {
    display: none;
}
.other_skill{
    line-height: 30px;
}
.spacer {
    height: 0 !important;
}
.contact_box{
    position: absolute;
    bottom: 30px ;
    left: 10px;
    width: 90%;
}
@keyframes change_text {
    0%{
        background-color: rgba(255, 255, 255, 0.356);
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: rgba(255, 255, 255, 0.356);
    }
}
.change_text{
    animation: change_text 0.1s;
}
#name , #about , #location , #main_skill_title , #main_skill_text , #other_skill_title , #other , #contact_me{
    transition: 0.5s !important;
}
.changed{
    opacity: 0;
    
}
.terminal{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}